body {
    background-color: #95bb98;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    h1 {
        text-align: center;
        font-size: 24px;
        font-family: 'poppins';
    }
    h3 {
        font-size: 15px;
    }
    p {
        font-size: 12px;
    }
    label {
        font-size: 12px;
    }
    .content-first {
        padding: 10px;
        background: white;
        color: #3b533d;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .content-second {
        padding: 10px;
        background: #95bb98;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .img-header {
        width: 70%;
        margin: 10px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        text-align: center;
        font-size: 28px;
        font-family: 'poppins';
    }
    .img-header {
        width: 700px;
        margin: 10px;
    }
    .content-first {
        padding: 10px;
        background: white;
        color: #3b533d;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .content-second {
        padding: 10px;
        background: #95bb98;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
}

.table-content {
    width: 100%;
}

.header {
    text-align: center;
}

.text-content {
    text-align: center;
}

.text-content-left {
    text-align: left;
}

.text-content-right {
    text-align: right;
}

.grid-left {
    text-align: left;
}

.grid-center {
    text-align: center;
}

.grid-content-space-left {
    padding-left: 10px;
}

.grid-content-space-right {
    padding-right: 10px;
}

.form {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.form input {
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 25px;
    padding: 10px;
    margin: 5px;
}

.form textarea {
    width: 300px;
    margin-top: 5px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    text-align: center;
}

.form button {
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    padding: 3px;
}

.form button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #000;
}

.footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}